.productImg {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: 50% 0;
}

.cardCustom {
  height: 100%;
}

.cardBodyCustom {
  height: 1 0 auto;
}

@media (max-width: 996px) {
  .cardBodyCustom {
    height: initial;
  }
}
