/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillImage {
  height: 100px;
  width: 100px;
}

.avatar__photo_color {
  background-color: #fff;
}

.decorationLine {
  display: flex;
  align-items: center;
}

.decorationLine:before, .decorationLine:after {
  content: "";
	flex-grow: 1;
	height: 1px;
	background: #444;
	display: block;
}

.decorationLine:before {
  margin-right: .4em;
  background: linear-gradient(-90deg, #888, transparent);
}

.decorationLine:after {
  margin-left: .4em;
  background: linear-gradient(90deg, #888, transparent);
}
