/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #323232;
  --ifm-color-primary-dark: #2d2d2d;
  --ifm-color-primary-darker: #2b2b2b;
  --ifm-color-primary-darkest: #232323;
  --ifm-color-primary-light: #373737;
  --ifm-color-primary-lighter: #3a3a3a;
  --ifm-color-primary-lightest: #414141;
  --ifm-link-color: #54c7ec;
  --ifm-link-hover-color: var(--ifm-link-color);
  --ifm-navbar-link-hover-color: var(--ifm-link-hover-color);
  --ifm-footer-link-hover-color: var(--ifm-link-hover-color);
  --ifm-menu-color-active: var(--ifm-link-color);
  --ifm-code-font-size: 95%;
  --ifm-global-shadow-lw-custom: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.shadow--lw-custom {
  box-shadow: var(--ifm-global-shadow-lw-custom) !important;
}

html[data-theme='dark'] .hero--primary {
  --ifm-hero-text-color: var(--ifm-color-gray-0);
}

.hero-banner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .hero-banner {
    padding: 2rem;
  }
}

.table-of-contents__link:hover,
.table-of-contents__link--active {
  color: var(--ifm-link-color);
}

.decoration-line {
  display: flex;
  align-items: center;
}

.decoration-line::before,
.decoration-line::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background: #444;
  display: block;
}

.decoration-line::before {
  margin-right: 0.4em;
  background: linear-gradient(-90deg, #888, transparent);
}

.decoration-line::after {
  margin-left: 0.4em;
  background: linear-gradient(90deg, #888, transparent);
}

.display-block {
  display: block;
}

.display-table {
  display: table;
}

.full-width {
  width: 100%;
}

p.card__image {
  margin: 0;
}
